@import "../config";
@import "../../../lib-jquery/bootstrap-4/scss/mixins";

////////////////////////////////////////////////
// helpers
////////////////////////////////////////////////

// background
//=============================================
.b-bg-f{
  background-color: #fff;
}

.b-bg-d{
  background-color: #dddddd;
}

.b-bg-0{
  background-color: $var-color-0;
  color: #fff;
}

.b-bg-1{
  background-color: $var-color-1;
  color: #fff;
}

.b-bg-2{
  background-color: $var-color-2;
  color: #fff;
}


// gradient
//=============================================
//

// divider
//=============================================
.b-divider-1{
  background-color: $var-color-1-l;
  display: block;
  margin-right: auto;
  width: 80px;
  height: 5px;
  border-radius: 5px;
}

.b-divider-2{
  background-color: $var-color-1-l;
  display: block;
  margin-right: auto;
  width: 80px;
  height: 4px;
  border-radius: 5px;
}

.b-divider-3{
  background-color: $var-color-2;
  display: block;
  margin-right: auto;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.b-divider-4{
  background-color: #A4A9AD;
  display: block;
  margin-right: auto;
  width: 80px;
  height: 5px;
  border-radius: 5px;
}


// decor
//=============================================
.b-decor-1{
  position: relative;
  display: inline-block;
  padding: 0 fun-rem(50);

  &::before, &::after {
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -4px;
    width: 40px;
    height: 8px;
    background: url("../img/svg/decor-1.svg") 50% 50%/cover no-repeat scroll;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

}


// margin
//=============================================
.b-mb-0{
  margin-bottom: 0 !important;
}
.b-mb-10{
  margin-bottom: fun-rem(10) !important;
}
.b-mb-20{
  margin-bottom: fun-rem(20) !important;
}
.b-mb-30{
  margin-bottom: fun-rem(30) !important;
}
.b-mb-40{
  margin-bottom: fun-rem(40) !important;
}
.b-mb-50{
  margin-bottom: fun-rem(50) !important;
  @media (max-width: 767.98px){
    margin-bottom: fun-rem(40) !important;
  }
}
.b-mb-60{
  margin-bottom: fun-rem(60) !important;
}
.b-mb-70{
  margin-bottom: fun-rem(70) !important;
}
.b-mb-80{
  margin-bottom: fun-rem(80) !important;
}
.b-mb-90{
  margin-bottom: fun-rem(90) !important;
}
.b-mb-100{
  margin-bottom: fun-rem(100) !important;
}
