<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-banner - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138394" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-banner</h1>
        </div>
        <hr>

        <!--b-banner-->
        <div class="b-test-block" id="test_b-banner">
            <div class="container">
                <h6>b-banner-310-410</h6>
                <div class="b-banner-310-410">
                    <a href="javascript:void(0)" class="b-banner-link">
                        <img class="b-img-cover" src="../assets/img/banner-310-410.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-banner-1</h6>
                <div class="b-banner-1">
                    <a href="javascript:void(0)" class="b-banner-link">
                        <img class="b-img-cover" src="../assets/img/banner-1.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-banner-2 b-banner-box-1</h6>
                <div class="b-banner-box-1">
                    <div class="b-banner-2">
                        <a href="javascript:void(0)" class="b-banner-link">
                            <img class="b-img-cover" src="../assets/img/banner-2-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="b-banner-2">
                        <a href="javascript:void(0)" class="b-banner-link">
                            <img class="b-img-cover" src="../assets/img/banner-2-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="b-banner-2">
                        <a href="javascript:void(0)" class="b-banner-link">
                            <img class="b-img-cover" src="../assets/img/banner-2-4.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-banner-4</h6>
                <div class="b-banner-4">
                    <a href="javascript:void(0)" class="b-banner-link">
                        <img class="b-img-cover" src="../assets/img/banner-4.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-banner-5</h6>
                <div class="b-banner-5">
                    <a href="javascript:void(0)" class="b-banner-link">
                        <img class="b-img-cover" src="../assets/img/banner-5.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138394"></script>
    <script src="../assets/js/app.js?1630357138394"></script>
</body>

</html>