<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-control - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138420" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-control</h1>
        </div>
        <hr>

        <div class="b-test-block" id="test_b-control">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h6>b-control-info-1 (-b-control-info-1)</h6>
                        <div class="b-control-info-1">
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-calendar.svg" alt="">
                                </div>
                                <div>25 февраля 2020</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-eye.svg" alt="">
                                </div>
                                <div>23</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-comments.svg" alt="">
                                </div>
                                <div>2654</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-heart.svg" alt="">
                                </div>
                                <div>2654</div>
                            </div>
                        </div>
                        <p><br></p>
                        <h6>b-control-info-1 (-b-control-info-1_1)</h6>
                        <div class="b-control-info-1">
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-calendar.svg" alt="">
                                </div>
                                <div>25 февраля 2020</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-time.svg" alt="">
                                </div>
                                <div>14:30</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-place.svg" alt="">
                                </div>
                                <div>санкт-петербург, россия</div>
                            </div>
                        </div>
                        <p><br></p>
                        <h6>b-control-info-1 (-b-control-info-1_2)</h6>
                        <div class="b-control-info-1 b-control-info-1_2">
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-calendar.svg" alt="">
                                </div>
                                <div>25 февраля 2020</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-eye.svg" alt="">
                                </div>
                                <div>23</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-heart.svg" alt="">
                                </div>
                                <div>2654</div>
                            </div>
                            <div class="b-control-info-1__item">
                                <div class="b-control-info-1__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-comments.svg" alt="">
                                </div>
                                <div>2654</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h6>b-control-info-2 (-b-control-info-2)</h6>
                        <div class="b-control-info-2">
                            <div class="b-control-info-2__item">
                                <div class="b-control-info-2__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-time.svg" alt="">
                                </div>
                                <div>22:30</div>
                            </div>
                            <div class="b-control-info-2__item">
                                <div class="b-control-info-2__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-calendar.svg" alt="">
                                </div>
                                <div>25 февраля 2020</div>
                            </div>
                            <div class="b-control-info-2__item">
                                <div class="b-control-info-2__icon">
                                    <img class="b-img-height" src="../assets/img/svg/control-place.svg" alt="">
                                </div>
                                <div>лос анджелес, сша</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138421"></script>
    <script src="../assets/js/app.js?1630357138421"></script>
</body>

</html>