<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-coach - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138414" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-coach</h1>
        </div>
        <hr>

        <!--b-coach-->
        <div class="b-test-block" id="test_b-coach">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h6>b-coach-card-1</h6>
                        <div class="b-coach-card-1">
                            <div class="b-coach-card-1__img">
                                <a class="b-coach-card-1__img-link" href="javascript:void(0)">
                                    <img class="b-img-cover" src="../assets/img/coach-1.png" alt="">
                                </a>
                            </div>
                            <div class="b-coach-card-1__col-2">
                                <div class="b-coach-card-1__content">
                                    <div class="b-coach-card-1__title">
                                        <a class="b-coach-card-1__title-link" href="javascript:void(0)">Гусев <br>Александр</a>
                                    </div>
                                    <div class="b-coach-card-1__divider"></div>
                                    <div class="b-coach-card-1__role">тренер</div>
                                    <div class="b-coach-card-1__team">сшор адмиралтейская</div>
                                    <div class="b-coach-card-1__city">санкт-петербург, россия</div>
                                </div>
                                <div class="b-coach-card-1__logo">
                                    <img class="b-img-height" src="../assets/img/logo-leader-4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <p><br></p>
                    </div>
                    <div class="col-md-6">
                        <h6>b-coach-card-1 b-coach-card-1_right</h6>
                        <div class="b-coach-card-1 b-coach-card-1_right">
                            <div class="b-coach-card-1__col-2">
                                <div class="b-coach-card-1__logo">
                                    <img class="b-img-height" src="../assets/img/logo-leader-6.png" alt="">
                                </div>
                                <div class="b-coach-card-1__content">
                                    <div class="b-coach-card-1__title">
                                        <a class="b-coach-card-1__title-link" href="javascript:void(0)">Грачев <br>Игорь</a>
                                    </div>
                                    <div class="b-coach-card-1__divider"></div>
                                    <div class="b-coach-card-1__role">тренер</div>
                                    <div class="b-coach-card-1__team">сшор динамо юность москвы</div>
                                    <div class="b-coach-card-1__city">москва, россия</div>
                                </div>
                            </div>
                            <div class="b-coach-card-1__img">
                                <a class="b-coach-card-1__img-link" href="javascript:void(0)">
                                    <img class="b-img-cover" src="../assets/img/coach-2.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p><br></p>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>b-coach-card-2</h6>
                        <div class="b-coach-card-2">
                            <div class="b-coach-card-2__img">
                                <a class="b-coach-card-2__img-link" href="javascript:void(0)">
                                    <img class="b-img-cover" src="../assets/img/coach-200x250-6.png" alt="">
                                </a>
                                <div class="b-coach-card-2__caption">
                                    <div class="b-coach-card-2__caption-title">
                                        <a href="javascript:void(0)">юдин<br>антон</a>
                                    </div>
                                </div>
                            </div>
                            <div class="b-coach-card-2__content">
                                <div class="b-coach-card-2__divider"></div>
                                <div class="b-coach-card-2__rang">СТАРШИЙ ТРЕНЕР</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>b-coach-card-3</h6>
                        <div class="b-coach-card-3">
                            <div class="b-coach-card-3__img">
                                <a class="b-coach-card-3__img-link" href="javascript:void(0)">
                                    <img class="b-img-cover" src="../assets/img/coach-200x250-4.png" alt="">
                                </a>
                                <div class="b-coach-card-3__caption">
                                    <div class="b-coach-card-3__caption-title">
                                        <a href="javascript:void(0)">константинопольский <br>евгений</a>
                                    </div>
                                </div>
                                <div class="b-coach-card-3__share">
                                    <a class="js-share" href="javascript:void(0)" role="button">
                                        <img class="b-img-height" src="../assets/img/svg/card-share.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h6>b-coach-info</h6>
                <div class="b-coach-info">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="b-coach-card-2">
                                <div class="b-coach-card-2__img">
                                    <a class="b-coach-card-2__img-link" href="javascript:void(0)">
                                        <img class="b-img-cover" src="../assets/img/coach-200x250-6.png" alt="">
                                    </a>
                                    <div class="b-coach-card-2__caption">
                                        <div class="b-coach-card-2__caption-title">
                                            <a href="javascript:void(0)">юдин<br>антон</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-coach-card-2__content">
                                    <div class="b-coach-card-2__divider"></div>
                                    <div class="b-coach-card-2__rang">СТАРШИЙ ТРЕНЕР</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="b-team-card-6">
                                <h3 class="b-title-3">Команды</h3>
                                <div class="b-team-card-6__row">
                                    <div class="b-team-card-6__img">
                                        <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                                    </div>
                                    <div class="b-team-card-6__main">
                                        <div class="b-team-card-6__name">сшор цска</div>
                                        <div class="b-team-card-6__city">москва, россия</div>
                                    </div>
                                </div>
                                <div class="b-team-card-6__row">
                                    <div class="b-team-card-6__img">
                                        <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                                    </div>
                                    <div class="b-team-card-6__main">
                                        <div class="b-team-card-6__name">сшор цска</div>
                                        <div class="b-team-card-6__city">москва, россия</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="b-success-card-1">
                                <h3 class="b-title-3">Достижения</h3>
                                <div class="b-success-card-1__row">
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-1.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-2.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-3.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-4.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-5.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-6.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-7.svg" alt=""></div>

                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-8.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-9.svg" alt=""></div>
                                    <div class="b-success-card-1__item"><img class="b-img-height" src="../assets/img/svg/icon-success-1-10.svg" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="b-team-card-6">
                                <h3 class="b-title-3">Команды</h3>
                                <ul class="b-soc b-soc-6">
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-1.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-2.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-3.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-4.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-5.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-6.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-7.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-8.svg" alt=""></a></li>
                                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-9.svg" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="b-coach-info__btn">
                                <a class="btn b-btn-2 btn-block" href="javascript:void(0)" role="button">Профайл тренера</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p><br></p>

                <h6>b-coach-info-2</h6>
                <div class="b-coach-info-2">
                    <div class="b-coach-info-2__row">
                        <div class="b-coach-info-2__col b-coach-info-2__col_1">
                            <div class="b-coach-card-3">
                                <div class="b-coach-card-3__img">
                                    <a class="b-coach-card-3__img-link" href="javascript:void(0)">
                                        <img class="b-img-cover" src="../assets/img/coach-200x250-4.png" alt="">
                                    </a>
                                    <div class="b-coach-card-3__caption">
                                        <div class="b-coach-card-3__caption-title">
                                            <a href="javascript:void(0)">константинопольский <br>евгений</a>
                                        </div>
                                    </div>
                                    <div class="b-coach-card-3__share">
                                        <a class="js-share" href="javascript:void(0)" role="button">
                                            <img class="b-img-height" src="../assets/img/svg/card-share.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-coach-info-2__col b-coach-info-2__col_2">
                            <h3 class="b-title-3">контакты</h3>
                            <div class="b-coach-info-2__info-wrap">
                                <ul class="b-coach-info-2__info">
                                    <li><span>фио:</span> константинопольский евгений александрович</li>
                                    <li><span>должность:</span> тренер</li>
                                    <li><span>организация:</span> сшор динамо юность москвы</li>
                                    <li><span>телефон моб:</span> <a href="tel:+74955642148">+7 (495) 564-21-48</a></li>
                                    <li><span>e-mail:</span> <a href="mailto:javascript:void(0)">insidesport@inbox.ru</a></li>
                                </ul>
                                <div class="b-coach-info-2__divider"></div>
                                <ul class="b-coach-info-2__info">
                                    <li><span>команда:</span> <a href="javascript:void(0)">дюбл динамо юность москвы</a></li>
                                    <li><span>команда:</span> <a href="javascript:void(0)">юноши 2005 динамо юность москвы</a></li>
                                    <li><span>команда:</span> <a href="javascript:void(0)">юноши 2012 динамо юность москвы</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="b-coach-info-2__col b-coach-info-2__col_3">
                            <h3 class="b-title-3">достижения тренера</h3>
                            <div class="b-coach-info-2__success">
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>

                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>

                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>

                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-2.svg" alt="">
                                </div>
                                <div class="b-coach-info-2__success-item">
                                    <img class="b-img-height" src="../assets/img/svg/prize-50-1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="b-coach-info-2__col b-coach-info-2__col_4">
                            <h3 class="b-title-3">социальные сети</h3>
                            <ul class="b-soc b-coach-info-2__soc">
                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-1.svg" alt=""></a></li>
                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-2.svg" alt=""></a></li>
                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-5.svg" alt=""></a></li>
                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-3.svg" alt=""></a></li>

                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-12.svg" alt=""></a></li>
                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-8.svg" alt=""></a></li>
                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-7.svg" alt=""></a></li>
                                <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-9.svg" alt=""></a></li>
                            </ul>
                            <div class="b-coach-info-2__btn">
                                <a class="btn b-btn-outline-1 btn-block" href="javascript:void(0)" role="button">личный профайл</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p><br></p>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h6>b-coach-card-4</h6>
                        <div class="b-coach-card-4">
                            <div class="b-coach-card-4__img">
                                <a class="b-coach-card-4__img-link" href="javascript:void(0)">
                                    <img class="b-img-cover" src="../assets/img/coach-200x250-19.png" alt="">
                                </a>
                            </div>
                            <div class="b-coach-card-4__col-2">
                                <div class="b-coach-card-4__top">
                                    <div class="b-coach-card-4__logo">
                                        <img class="b-img-height" src="../assets/img/logo-leader-4.png" alt="">
                                    </div>
                                    <div class="b-coach-card-4__share">
                                        <a class="js-share" href="javascript:void(0)" role="button">
                                            <img class="b-img-height" src="../assets/img/svg/card-share.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="b-coach-card-4__title">
                                    <a class="b-coach-card-4__title-link" href="javascript:void(0)">базаревич <br>сергей</a>
                                </div>
                                <div class="b-coach-card-4__info">
                                    <div class="b-coach-card-4__score">8 / <span>1</span></div>
                                    <div class="b-coach-card-4__info-main">
                                        <div class="b-coach-card-4__info-1">победы</div>
                                        <div class="b-coach-card-4__divider"></div>
                                        <div class="b-coach-card-4__info-2">поражения</div>
                                    </div>
                                </div>
                                <div class="b-coach-card-4__team">сшор динамо юность москвы</div>
                            </div>
                        </div>
                        <p><br></p>
                    </div>
                    <div class="col-md-6">
                        <h6>b-coach-card-4 b-coach-card-4_right</h6>
                        <div class="b-coach-card-4 b-coach-card-4_right">
                            <div class="b-coach-card-4__col-2">
                                <div class="b-coach-card-4__top">
                                    <div class="b-coach-card-4__share">
                                        <a class="js-share" href="javascript:void(0)" role="button">
                                            <img class="b-img-height" src="../assets/img/svg/card-share.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="b-coach-card-4__logo">
                                        <img class="b-img-height" src="../assets/img/logo-leader-6.png" alt="">
                                    </div>
                                </div>
                                <div class="b-coach-card-4__title">
                                    <a class="b-coach-card-4__title-link" href="javascript:void(0)">рокотянский <br>александр</a>
                                </div>
                                <div class="b-coach-card-4__info">
                                    <div class="b-coach-card-4__score">8 / <span>1</span></div>
                                    <div class="b-coach-card-4__info-main">
                                        <div class="b-coach-card-4__info-1">победы</div>
                                        <div class="b-coach-card-4__divider"></div>
                                        <div class="b-coach-card-4__info-2">поражения</div>
                                    </div>
                                </div>
                                <div class="b-coach-card-4__team">сшор №1 адмиралтейская</div>
                            </div>
                            <div class="b-coach-card-4__img">
                                <a class="b-coach-card-4__img-link" href="javascript:void(0)">
                                    <img class="b-img-cover" src="../assets/img/coach-200x250-6.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p><br></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138417"></script>
    <script src="../assets/js/app.js?1630357138417"></script>
</body>

</html>