<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-feature - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138428" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-feature</h1>
        </div>
        <hr>

        <!--b-feature-->
        <div class="b-test-block" id="test_b-feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h6>b-feature-1 <a href="#topComponents"><small>( наверх )</small></a></h6>
                        <div class="b-feature-1">
                            <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-3.svg" alt=""></div>
                            <div class="b-feature-1__progress">
                                <div class="b-feature-1__progress-bar" style="width: 78%">
                                    атлетизм
                                </div>
                            </div>
                            <div class="b-feature-1__score">78</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>b-feature-1 b-feature-1_accent <a href="#topComponents"><small>( наверх )</small></a></h6>
                        <div class="b-feature-1 b-feature-1_accent">
                            <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-2.svg" alt=""></div>
                            <div class="b-feature-1__progress">
                                <div class="b-feature-1__progress-bar" style="width: 85%">
                                    игровой интелект
                                </div>
                            </div>
                            <div class="b-feature-1__score">85</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>b-feature-card-1 <a href="#topComponents"><small>( наверх )</small></a></h6>
                        <div class="b-feature-card-1">
                            <div class="b-feature-1 b-feature-1_accent">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-1.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 88%">
                                        лидерство
                                    </div>
                                </div>
                                <div class="b-feature-1__score">88</div>
                            </div>
                            <div class="b-feature-1 b-feature-1_accent">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-2.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 85%">
                                        игровой интелект
                                    </div>
                                </div>
                                <div class="b-feature-1__score">85</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-3.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 78%">
                                        атлетизм
                                    </div>
                                </div>
                                <div class="b-feature-1__score">78</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-4.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 81%">
                                        быстрота
                                    </div>
                                </div>
                                <div class="b-feature-1__score">81</div>
                            </div>
                            <div class="b-feature-1 b-feature-1_accent">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-5.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 86%">
                                        прыгучесть
                                    </div>
                                </div>
                                <div class="b-feature-1__score">86</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-6.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 76%">
                                        подвижность
                                    </div>
                                </div>
                                <div class="b-feature-1__score">76</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-7.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 68%">
                                        3-х очковый бросок
                                    </div>
                                </div>
                                <div class="b-feature-1__score">68</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-8.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 72%">
                                        средний бросок
                                    </div>
                                </div>
                                <div class="b-feature-1__score">72</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-9.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 74%">
                                        обыгрыш на периметре
                                    </div>
                                </div>
                                <div class="b-feature-1__score">74</div>
                            </div>
                            <div class="b-feature-1 b-feature-1_accent">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-10.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 85%">
                                        обыгрыш в трехсекундной
                                    </div>
                                </div>
                                <div class="b-feature-1__score">85</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-11.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 75%">
                                        секция броска
                                    </div>
                                </div>
                                <div class="b-feature-1__score">75</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-12.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 67%">
                                        дриблинг
                                    </div>
                                </div>
                                <div class="b-feature-1__score">67</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-13.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 72%">
                                        передача
                                    </div>
                                </div>
                                <div class="b-feature-1__score">72</div>
                            </div>
                            <div class="b-feature-1 b-feature-1_accent">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-14.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 86%">
                                        подбор
                                    </div>
                                </div>
                                <div class="b-feature-1__score">86</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-15.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 81%">
                                        нападение без мяча
                                    </div>
                                </div>
                                <div class="b-feature-1__score">81</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-16.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 82%">
                                        тактическая грамотность
                                    </div>
                                </div>
                                <div class="b-feature-1__score">82</div>
                            </div>
                            <div class="b-feature-1 b-feature-1_accent">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-17.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 87%">
                                        защита 1х1
                                    </div>
                                </div>
                                <div class="b-feature-1__score">87</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-18.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 83%">
                                        командная защита
                                    </div>
                                </div>
                                <div class="b-feature-1__score">83</div>
                            </div>
                            <div class="b-feature-1 b-feature-1_accent">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-19.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 92%">
                                        размер в амплуа
                                    </div>
                                </div>
                                <div class="b-feature-1__score">92</div>
                            </div>
                            <div class="b-feature-1">
                                <div class="b-feature-1__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-20.svg" alt=""></div>
                                <div class="b-feature-1__progress">
                                    <div class="b-feature-1__progress-bar" style="width: 78%">
                                        потенциал
                                    </div>
                                </div>
                                <div class="b-feature-1__score">78</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-feature-2 b-feature-2_accent, b-feature-card-2</h6>
                <div class="row">
                    <div class="col-md-3">
                        <div class="b-feature-card-2">
                            <div class="b-feature-2 b-feature-2_accent">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-1.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 88%">
                                        лидерство
                                    </div>
                                </div>
                                <div class="b-feature-2__score">88</div>
                            </div>
                            <div class="b-feature-2 b-feature-2_accent">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-2.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 85%">
                                        игровой интелект
                                    </div>
                                </div>
                                <div class="b-feature-2__score">85</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-3.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 78%">
                                        атлетизм
                                    </div>
                                </div>
                                <div class="b-feature-2__score">78</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-4.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 81%">
                                        быстрота
                                    </div>
                                </div>
                                <div class="b-feature-2__score">81</div>
                            </div>
                            <div class="b-feature-2 b-feature-2_accent">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-5.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 86%">
                                        прыгучесть
                                    </div>
                                </div>
                                <div class="b-feature-2__score">86</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="b-feature-card-2">
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-6.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 76%">
                                        подвижность
                                    </div>
                                </div>
                                <div class="b-feature-2__score">76</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-7.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 68%">
                                        3-х очковый бросок
                                    </div>
                                </div>
                                <div class="b-feature-2__score">68</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-8.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 72%">
                                        средний бросок
                                    </div>
                                </div>
                                <div class="b-feature-2__score">72</div>
                            </div>
                            <div class="b-feature-2 b-feature-2_accent">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-10.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 85%">
                                        обыгрыш в трехсекундной
                                    </div>
                                </div>
                                <div class="b-feature-2__score">85</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-9.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 74%">
                                        обыгрыш на периметре
                                    </div>
                                </div>
                                <div class="b-feature-2__score">74</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="b-feature-card-2">
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-11.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 75%">
                                        секция броска
                                    </div>
                                </div>
                                <div class="b-feature-2__score">75</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-12.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 67%">
                                        дриблинг
                                    </div>
                                </div>
                                <div class="b-feature-2__score">67</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-13.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 72%">
                                        передача
                                    </div>
                                </div>
                                <div class="b-feature-2__score">72</div>
                            </div>
                            <div class="b-feature-2 b-feature-2_accent">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-14.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 86%">
                                        подбор
                                    </div>
                                </div>
                                <div class="b-feature-2__score">86</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-15.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 81%">
                                        нападение без мяча
                                    </div>
                                </div>
                                <div class="b-feature-2__score">81</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="b-feature-card-2">
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-16.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 82%">
                                        тактическая грамотность
                                    </div>
                                </div>
                                <div class="b-feature-2__score">82</div>
                            </div>
                            <div class="b-feature-2 b-feature-2_accent">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-17.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 87%">
                                        защита 1х1
                                    </div>
                                </div>
                                <div class="b-feature-2__score">87</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-18.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 83%">
                                        командная защита
                                    </div>
                                </div>
                                <div class="b-feature-2__score">83</div>
                            </div>
                            <div class="b-feature-2 b-feature-2_accent">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-19.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 92%">
                                        размер в амплуа
                                    </div>
                                </div>
                                <div class="b-feature-2__score">92</div>
                            </div>
                            <div class="b-feature-2">
                                <div class="b-feature-2__icon"><img class="b-img-height" src="../assets/img/svg/icon-feature-20.svg" alt=""></div>
                                <div class="b-feature-2__progress">
                                    <div class="b-feature-2__progress-bar" style="width: 78%">
                                        потенциал
                                    </div>
                                </div>
                                <div class="b-feature-2__score">78</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="b-test-block d-none">
            <div class="container">
                <h6></h6>

            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138430"></script>
    <script src="../assets/js/app.js?1630357138430"></script>
</body>

</html>