<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-nav - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138439" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-nav</h1>
        </div>
        <hr>

        <div class="b-test-block b-bg-0">
            <div class="container">
                <h6>b-nav-main b-nav-main_home</h6>
                <nav class="b-header-nav">
                    <ul class="b-nav b-nav-main b-nav-main_home">
                        <li class="b-nav-main__item"><a class="b-nav-main__link active" href="javascript:void(0)">главная</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">баскетбольная карта</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">публикации</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">турниры</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">рейтинги</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">сообщество</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">организации</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">видео</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">события</a></li>
                        <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">разное</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="b-test-block b-bg-1">
            <div class="container">
                <h6>b-nav-main <small>(-b-nav-main)</small></h6>
                <ul class="b-nav b-nav-main">
                    <li class="b-nav-main__item"><a class="b-nav-main__link active" href="javascript:void(0)">главная</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">баскетбольная карта</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">публикации</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">турниры</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">рейтинги</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">сообщество</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">организации</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">видео</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">события</a></li>
                    <li class="b-nav-main__item"><a class="b-nav-main__link" href="javascript:void(0)">разное</a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-nav-1</h6>
                <ul class="b-nav b-nav-1">
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Новости</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Видео</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Статьи</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Интервью</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Блоги</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link active" href="javascript:void(0)">Публикации</a></li>
                </ul>
                <p><br></p>
                <h6>b-nav-1 b-nav-1_2</h6>
                <ul class="b-nav b-nav-1 b-nav-1_2">
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Новости</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Видео</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Статьи</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Интервью</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">Блоги</a></li>
                    <li class="b-nav-1__item"><a class="b-nav-1__link active" href="javascript:void(0)">Публикации</a></li>
                </ul>
                <p><br></p>
                <h6>b-nav-1-2</h6>
                <ul class="b-nav b-nav-1-2">
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Новости</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Видео</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Статьи</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Интервью</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Блоги</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link active" href="javascript:void(0)">Публикации</a></li>
                </ul>
                <p><br></p>
                <h6>b-nav b-nav-1-2 <small>(-b-nav-3)</small></h6>
                <ul class="b-nav b-nav-1-2">
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Хочу поиграть</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">хочу экипировку</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">хочу в спортшколу</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link active" href="javascript:void(0)">хочу в лагерь</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">хочу на баскетбол</a></li>
                </ul>
                <p><br></p>
                <h6>b-nav-1-2 b-nav-1-2_2</h6>
                <ul class="b-nav b-nav-1-2 b-nav-1-2_2">
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Новости</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Видео</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Статьи</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Интервью</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link" href="javascript:void(0)">Блоги</a></li>
                    <li class="b-nav-1-2__item"><a class="b-nav-1-2__link active" href="javascript:void(0)">Публикации</a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-nav-2 <small>(-b-nav-2)</small></h6>
                <ul class="b-nav b-nav-2">
                    <li class="b-nav-2__item"><a class="b-nav-2__link active" href="javascript:void(0)">баскетбольные школы</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольные клубы</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольные залы</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">тренировочные базы</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольные площадки</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольные турниры</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольные лагеря</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольные события</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольные услуги</a></li>
                    <li class="b-nav-2__item"><a class="b-nav-2__link" href="javascript:void(0)">баскетбольнные магазины</a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-nav-4 <small>(-b-nav-4)</small></h6>
                <ul class="b-nav b-nav-4">
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">межрегиональный этап</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link active" href="javascript:void(0)">полуфинальный этап 1</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">путь сильнейших</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">полуфинальный этап 2</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">финальный этап</a></li>
                </ul>
                <p></p>
                <h6>b-nav-4 <small>(-b-nav-4_2) </small></h6>
                <ul class="b-nav b-nav-4">
                    <li class="b-nav-4__item"><a class="b-nav-4__link active" href="javascript:void(0)">главная</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">матч-центр</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">таблица</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">календарь</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">статистика</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">команды</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">игроки и тренеры</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">рейтинг</a></li>
                    <li class="b-nav-4__item"><a class="b-nav-4__link" href="javascript:void(0)">рекорды и история</a></li>
                </ul>
                <p><br></p>
                <h6>b-nav-4-2 <small></small></h6>
                <div class="b-page-header-box__nav-">
                    <ul class="b-nav b-nav-4-2">
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link active" href="javascript:void(0)">профайл</a></li>
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link" href="javascript:void(0)">воспитанники</a></li>
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link" href="javascript:void(0)">команды</a></li>
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link" href="javascript:void(0)">расписание</a></li>
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link" href="javascript:void(0)">достижения</a></li>
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link" href="javascript:void(0)">рекорды</a></li>
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link" href="javascript:void(0)">публикации</a></li>
                        <li class="b-nav-4-2__item"><a class="b-nav-4-2__link" href="javascript:void(0)">фотогалерея</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-nav-5</h6>
                <ul class="b-nav b-nav-5">
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">игра</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">1 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link active" href="javascript:void(0)">2 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">3 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">4 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">овертайм</a></li>
                </ul>
                <p><br></p>
                <h6>b-nav-5 b-nav-5_2</h6>
                <ul class="b-nav b-nav-5 b-nav-5_2">
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">игра</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">1 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link active" href="javascript:void(0)">2 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">3 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">4 четверть</a></li>
                    <li class="b-nav-5__item"><a class="b-nav-5__link" href="javascript:void(0)">овертайм</a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-nav-6</h6>
                <ul class="b-nav b-nav-6">
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">очки</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">подборы</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link active" href="javascript:void(0)">передачи</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">перехваты</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">блокшоты</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">2-х очковые</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">3-х очковые</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">штрафные</a></li>
                    <li class="b-nav-6__item"><a class="b-nav-6__link" href="javascript:void(0)">кпи</a></li>
                </ul>
            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138440"></script>
    <script src="../assets/js/app.js?1630357138440"></script>
</body>

</html>