<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-soc - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138458" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-soc</h1>
        </div>
        <hr>

        <!--b-soc-->
        <div class="b-test-block b-bg-1 mb-3" id="test_b-soc">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h6>b-soc-1</h6>
                        <ul class="b-soc b-soc-1">
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-share.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-1.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-2.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-3.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-4.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-5.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-6.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-7.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-8.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-9.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-10.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-11.svg" alt=""></a></li>
                            <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-1-12.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-soc-2</h6>
                <ul class="b-soc b-soc-2">
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-5-1.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-5-2.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-5-3.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-5-4.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-5-5.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-5-6.svg" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-soc-3 (-b-soc-3)</h6>
                <ul class="b-soc b-soc-3">
                    <li><a href="javascript:void(0)"><img class="b-img" src="../assets/img/svg/soc-3-2.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)"><img class="b-img" src="../assets/img/svg/soc-3-5.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)"><img class="b-img" src="../assets/img/svg/soc-3-1.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)"><img class="b-img" src="../assets/img/svg/soc-3-4.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)"><img class="b-img" src="../assets/img/svg/soc-3-12.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)"><img class="b-img" src="../assets/img/svg/soc-3-3.svg" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-soc-4</h6>
                <ul class="b-soc b-soc-4">
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-share.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-1.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-2.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-3.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-8.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-12.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-9.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-2-10.svg" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-soc-6</h6>
                <ul class="b-soc b-soc-6">
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-1.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-2.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-3.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-4.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-5.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-6.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-7.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-8.svg" alt=""></a></li>
                    <li><a href="javascript:void(0)" target="_blank"><img class="b-img" src="../assets/img/svg/soc-3-9.svg" alt=""></a></li>
                </ul>
            </div>
        </div>



        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138461"></script>
    <script src="../assets/js/app.js?1630357138461"></script>
</body>

</html>