<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-tag - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138495" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-tag</h1>
        </div>
        <hr>

        <div class="b-test-block">
            <div class="container">
                <h6>b-tag-1 (-b-tag-1)</h6>
                <ul class="b-tag b-tag-1">
                    <li><a href="javascript:void(0)">ПЕРВЕНСТВО РОССИИ 2018/2019</a></li>
                    <li><a href="javascript:void(0)">рфб</a></li>
                    <li><a href="javascript:void(0)">баскетбол 3х3</a></li>
                    <li><a href="javascript:void(0)">судейский семинар</a></li>
                    <li><a href="javascript:void(0)">игорь грачев</a></li>
                    <li><a href="javascript:void(0)">внимание к деталям</a></li>
                    <li><a href="javascript:void(0)">юноши 2005</a></li>
                    <li><a href="javascript:void(0)">студенческий баскетбол</a></li>
                    <li><a href="javascript:void(0)">вокруг игры</a></li>
                    <li><a href="javascript:void(0)">сборная россии</a></li>
                </ul>
                <p><br></p>
                <h6>b-tag-1 (-b-tag-1_2)</h6>
                <ul class="b-tag b-tag-1">
                    <li><a href="javascript:void(0)">ПЕРВЕНСТВО РОССИИ 2018/2019</a></li>
                    <li><a href="javascript:void(0)">рфб</a></li>
                    <li><a href="javascript:void(0)">юноши 2005</a></li>
                    <li><a href="javascript:void(0)">фиба</a></li>
                    <li><a href="javascript:void(0)">нба</a></li>
                    <li><a href="javascript:void(0)">вокруг игры</a></li>
                    <li><a href="javascript:void(0)">сборная россии</a></li>
                    <li><a href="javascript:void(0)">тренерский семинар</a></li>
                    <li><a href="javascript:void(0)">юноши 2005</a></li>
                    <li><a href="javascript:void(0)">обязательно к просмотру</a></li>
                </ul>
                <p><br></p>
                <h6>b-tag-1 (-b-tag-1_3)</h6>
                <ul class="b-tag b-tag-1">
                    <li><a href="javascript:void(0)">ПЕРВЕНСТВО РОССИИ 2018/2019</a></li>
                    <li><a href="javascript:void(0)">рфб</a></li>
                    <li><a href="javascript:void(0)">нба</a></li>
                    <li><a href="javascript:void(0)">вокруг игры</a></li>
                    <li><a href="javascript:void(0)">сборная россии</a></li>
                    <li><a href="javascript:void(0)">юноши 2005</a></li>
                    <li><a href="javascript:void(0)">тренерский семинар</a></li>
                    <li><a href="javascript:void(0)">баскетбол 3х3</a></li>
                    <li><a href="javascript:void(0)">тренерский совет фиба</a></li>
                </ul>
                <p><br></p>
                <h6>b-tag-1 (-b-tag-1_4)</h6>
                <ul class="b-tag b-tag-1">
                    <li><a href="javascript:void(0)">ПЕРВЕНСТВО РОССИИ 2018/2019</a></li>
                    <li><a href="javascript:void(0)">рфб</a></li>
                    <li><a href="javascript:void(0)">тренерский совет фиба</a></li>
                    <li><a href="javascript:void(0)">юноши 2005</a></li>
                    <li><a href="javascript:void(0)">евгений гомельский</a></li>
                    <li><a href="javascript:void(0)">вокруг игры</a></li>
                    <li><a href="javascript:void(0)">баскетбол 3х3</a></li>
                    <li><a href="javascript:void(0)">лучшие молодые игроки</a></li>
                    <li><a href="javascript:void(0)">фиба</a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-tag-2 (-b-tag-2)</h6>
                <ul class="b-tag b-tag-2">
                    <li><a href="javascript:void(0)">женская сборная россии u-19</a></li>
                    <li><a href="javascript:void(0)">кубок мира</a></li>
                    <li><a href="javascript:void(0)">раиса мусина</a></li>
                    <li><a href="javascript:void(0)">исполнительный комитет фиба</a></li>
                    <li><a href="javascript:void(0)">нба сезон 2018/2019</a></li>
                    <li><a href="javascript:void(0)">карл энтони таунс</a></li>
                    <li><a href="javascript:void(0)">евгений гомельский</a></li>
                    <li><a href="javascript:void(0)">мария вадеева</a></li>
                    <li><a href="javascript:void(0)">тренеру на заметку</a></li>
                    <li><a href="javascript:void(0)">обязательно к просмотру</a></li>
                </ul>
                <p><br></p>
                <h6>b-tag-2 (-b-tag-2_2)</h6>
                <ul class="b-tag b-tag-2">
                    <li><a href="javascript:void(0)">женская сборная россии u-19</a></li>
                    <li><a href="javascript:void(0)">кубок мира</a></li>
                    <li><a href="javascript:void(0)">раиса мусина</a></li>
                    <li><a href="javascript:void(0)">исполнительный комитет фиба</a></li>
                    <li><a href="javascript:void(0)">нба сезон 2018/2019</a></li>
                    <li><a href="javascript:void(0)">евгений гомельский</a></li>
                    <li><a href="javascript:void(0)">мария вадеева</a></li>
                    <li><a href="javascript:void(0)">обязательно к просмотру</a></li>
                    <li><a href="javascript:void(0)">тренеру на заметку</a></li>
                    <li><a href="javascript:void(0)">тимофей рудовский</a></li>
                </ul>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-tag-3 (-b-tag-3)</h6>
                <ul class="b-tag b-tag-3">
                    <li><span>1212</span> <a href="javascript:void(0)">женская сборная россии</a></li>
                    <li><span>1115</span> <a href="javascript:void(0)">фиба</a></li>
                    <li><span>918</span> <a href="javascript:void(0)">нба сезон 2019/2020</a></li>
                    <li><span>834</span> <a href="javascript:void(0)">сборная россии U-16</a></li>
                    <li><span>814</span> <a href="javascript:void(0)">тренерский совет рфб</a></li>
                    <li><span>796</span> <a href="javascript:void(0)">юноши 2005</a></li>
                    <li><span>745</span> <a href="javascript:void(0)">первенство россии 2019/2020</a></li>
                    <li><span>730</span> <a href="javascript:void(0)">2012 олимпийские игры</a></li>
                    <li><span>692</span> <a href="javascript:void(0)">сергей базаревич</a></li>
                    <li><span>682</span> <a href="javascript:void(0)">алексей швед</a></li>
                    <li><span>659</span> <a href="javascript:void(0)">атакующий защитник</a></li>
                    <li><span>654</span> <a href="javascript:void(0)">тимофей рудовский</a></li>
                    <li><span>622</span> <a href="javascript:void(0)">коби брайант</a></li>
                    <li><span>613</span> <a href="javascript:void(0)">майкл джордан</a></li>
                    <li><span>598</span> <a href="javascript:void(0)">нба сезон 2018/2019</a></li>
                    <li><span>584</span> <a href="javascript:void(0)">сборная россии U-18</a></li>
                    <li><span>581</span> <a href="javascript:void(0)">семинар рфб</a></li>
                    <li><span>576</span> <a href="javascript:void(0)">юноши 2004</a></li>
                    <li><span>575</span> <a href="javascript:void(0)">финал россии</a></li>
                    <li><span>570</span> <a href="javascript:void(0)">2008 олимпийские игры</a></li>
                    <li><span>562</span> <a href="javascript:void(0)">андрей кириленко</a></li>
                    <li><span>562</span> <a href="javascript:void(0)">рфб</a></li>
                    <li><span>559</span> <a href="javascript:void(0)">разыгрывающий</a></li>
                    <li><span>554</span> <a href="javascript:void(0)">интерактивный баскетбол</a></li>
                    <li><span>522</span> <a href="javascript:void(0)">сборная россии</a></li>
                    <li><span>515</span> <a href="javascript:void(0)">евролига</a></li>
                    <li><span>498</span> <a href="javascript:void(0)">нба сезон 2008/2009</a></li>
                    <li><span>484</span> <a href="javascript:void(0)">сборная россии U-20</a></li>
                    <li><span>481</span> <a href="javascript:void(0)">судейский семинар</a></li>
                    <li><span>476</span> <a href="javascript:void(0)">девушки 2006</a></li>
                    <li><span>475</span> <a href="javascript:void(0)">первенство россии 2018/2019</a></li>
                    <li><span>470</span> <a href="javascript:void(0)">1992 олимпийские игры</a></li>
                    <li><span>462</span> <a href="javascript:void(0)">сергей моня</a></li>
                    <li><span>462</span> <a href="javascript:void(0)">единая лига втб</a></li>
                    <li><span>459</span> <a href="javascript:void(0)">центровой</a></li>
                    <li><span>454</span> <a href="javascript:void(0)">тимофей мозгов</a></li>

                    <li><span>1212</span> <a href="javascript:void(0)">женская сборная россии</a></li>
                    <li><span>1115</span> <a href="javascript:void(0)">фиба</a></li>
                    <li><span>918</span> <a href="javascript:void(0)">нба сезон 2019/2020</a></li>
                    <li><span>834</span> <a href="javascript:void(0)">сборная россии U-16</a></li>
                    <li><span>814</span> <a href="javascript:void(0)">тренерский совет рфб</a></li>
                    <li><span>796</span> <a href="javascript:void(0)">юноши 2005</a></li>
                    <li><span>745</span> <a href="javascript:void(0)">первенство россии 2019/2020</a></li>
                    <li><span>730</span> <a href="javascript:void(0)">2012 олимпийские игры</a></li>
                    <li><span>692</span> <a href="javascript:void(0)">сергей базаревич</a></li>
                    <li><span>682</span> <a href="javascript:void(0)">алексей швед</a></li>
                    <li><span>659</span> <a href="javascript:void(0)">атакующий защитник</a></li>
                    <li><span>654</span> <a href="javascript:void(0)">тимофей рудовский</a></li>
                    <li><span>622</span> <a href="javascript:void(0)">коби брайант</a></li>
                    <li><span>613</span> <a href="javascript:void(0)">майкл джордан</a></li>
                    <li><span>598</span> <a href="javascript:void(0)">нба сезон 2018/2019</a></li>
                    <li><span>584</span> <a href="javascript:void(0)">сборная россии U-18</a></li>
                    <li><span>581</span> <a href="javascript:void(0)">семинар рфб</a></li>
                    <li><span>576</span> <a href="javascript:void(0)">юноши 2004</a></li>
                    <li><span>575</span> <a href="javascript:void(0)">финал россии</a></li>
                    <li><span>570</span> <a href="javascript:void(0)">2008 олимпийские игры</a></li>
                    <li><span>562</span> <a href="javascript:void(0)">андрей кириленко</a></li>
                    <li><span>562</span> <a href="javascript:void(0)">рфб</a></li>
                    <li><span>559</span> <a href="javascript:void(0)">разыгрывающий</a></li>
                    <li><span>554</span> <a href="javascript:void(0)">интерактивный баскетбол</a></li>
                    <li><span>522</span> <a href="javascript:void(0)">сборная россии</a></li>
                    <li><span>515</span> <a href="javascript:void(0)">евролига</a></li>
                    <li><span>498</span> <a href="javascript:void(0)">нба сезон 2008/2009</a></li>
                    <li><span>484</span> <a href="javascript:void(0)">сборная россии U-20</a></li>
                    <li><span>481</span> <a href="javascript:void(0)">судейский семинар</a></li>
                    <li><span>476</span> <a href="javascript:void(0)">девушки 2006</a></li>
                    <li><span>475</span> <a href="javascript:void(0)">первенство россии 2018/2019</a></li>
                    <li><span>470</span> <a href="javascript:void(0)">1992 олимпийские игры</a></li>
                    <li><span>462</span> <a href="javascript:void(0)">сергей моня</a></li>
                    <li><span>462</span> <a href="javascript:void(0)">единая лига втб</a></li>
                    <li><span>459</span> <a href="javascript:void(0)">центровой</a></li>
                    <li><span>454</span> <a href="javascript:void(0)">тимофей мозгов</a></li>

                    <li><span>1212</span> <a href="javascript:void(0)">женская сборная россии</a></li>
                    <li><span>1115</span> <a href="javascript:void(0)">фиба</a></li>
                    <li><span>918</span> <a href="javascript:void(0)">нба сезон 2019/2020</a></li>
                    <li><span>834</span> <a href="javascript:void(0)">сборная россии U-16</a></li>
                    <li><span>814</span> <a href="javascript:void(0)">тренерский совет рфб</a></li>

                </ul>
            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138495"></script>
    <script src="../assets/js/app.js?1630357138495"></script>
</body>

</html>