<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-team - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138500" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-team</h1>
        </div>
        <hr>

        <div class="b-test-block" id="test_b-team">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h6>b-team-card-1</h6>
                        <div class="b-team-card-1">
                            <div class="b-team-card-1__img">
                                <img class="b-img-height" src="../assets/img/playground-logo-1.png" alt="">
                            </div>
                            <div class="b-team-card-1__main">
                                <div class="b-team-card-1__name">сшор №1 адмиралтейская</div>
                                <div class="b-team-card-1__city">санкт-петербург, россия</div>
                                <div class="b-team-card-1__foul">
                                    <div class="b-team-card-1__foul-name">фолы</div>
                                    <div class="b-team-card-1__foul-states">
                                        <span class="b-team-card-1__foul-state b-team-card-1__foul-state_1"></span>
                                        <span class="b-team-card-1__foul-state b-team-card-1__foul-state_1"></span>
                                        <span class="b-team-card-1__foul-state"></span>
                                        <span class="b-team-card-1__foul-state"></span>
                                        <span class="b-team-card-1__foul-state"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p><br></p>
                        <h6>b-team-card-1 b-team-card-1_right</h6>
                        <div class="b-team-card-1 b-team-card-1_right">
                            <div class="b-team-card-1__main">
                                <div class="b-team-card-1__name">сшор динамо юность москвы</div>
                                <div class="b-team-card-1__city">москва, россия</div>
                                <div class="b-team-card-1__foul">
                                    <div class="b-team-card-1__foul-name">фолы</div>
                                    <div class="b-team-card-1__foul-states">
                                        <span class="b-team-card-1__foul-state b-team-card-1__foul-state_2"></span>
                                        <span class="b-team-card-1__foul-state b-team-card-1__foul-state_1"></span>
                                        <span class="b-team-card-1__foul-state b-team-card-1__foul-state_1"></span>
                                        <span class="b-team-card-1__foul-state b-team-card-1__foul-state_1"></span>
                                        <span class="b-team-card-1__foul-state b-team-card-1__foul-state_1"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="b-team-card-1__img">
                                <img class="b-img-height" src="../assets/img/playground-logo-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>b-team-card-2</h6>
                        <div class="b-team-card-2">
                            <div class="b-team-card-2__img">
                                <a class="b-team-card-2__img-link" href="javascript:void(0)">
                                    <img class="b-img-cover" src="../assets/img/team-logo-201.png" alt="">
                                </a>
                                <div class="b-team-card-2__caption">
                                    <div class="b-team-card-2__caption-info">
                                        <div class="b-team-card-2__caption-info-1">21.4</div>
                                        <div class="b-team-card-2__caption-info-2">передачи </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-team-card-2__content">
                                <div class="b-team-card-2__content-top">
                                    <div class="b-team-card-2__title">
                                        <a href="javascript:void(0)">сшор цска</a>
                                    </div>
                                    <div class="b-team-card-2__divider"></div>
                                    <div class="b-team-card-2__city">москва, россия</div>
                                </div>
                                <div class="b-team-card-2__content-bottom">
                                    <div class="b-team-card-2__rang">тренер</div>
                                    <div class="b-team-card-2__name">константинопольский константин</div>
                                </div>
                            </div>
                        </div>
                        <p><br></p>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>b-team-card-2-2</h6>
                        <div class="b-team-card-2-2">
                            <div class="b-team-card-2-2__img">
                                <a class="b-team-card-2-2__img-link" href="javascript:void(0)">
                                    <img class="b-img-height" src="../assets/img/team-logo-201.png" alt="">
                                </a>
                                <div class="b-team-card-2-2__caption">
                                    <div class="b-team-card-2-2__caption-info">
                                        <div class="b-team-card-2-2__caption-info-1">1</div>
                                        <div class="b-team-card-2-2__caption-info-2">место </div>
                                    </div>
                                    <div class="b-team-card-2-2__caption-img">
                                        <img class="b-img-height" src="../assets/img/svg/logo-nomination-1.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="b-team-card-2-2__content">
                                <div class="b-team-card-2-2__content-top">
                                    <div class="b-team-card-2-2__title">
                                        <a href="javascript:void(0)">сшор цска</a>
                                    </div>
                                    <div class="b-team-card-2-2__city">москва, россия</div>
                                </div>
                                <div class="b-team-card-2-2__content-bottom">
                                    <div class="b-team-card-2-2__rang">тренер</div>
                                    <div class="b-team-card-2-2__name">константинопольский константин</div>
                                </div>
                            </div>
                        </div>
                        <p><br></p>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>b-team-card-3</h6>
                        <div class="b-team-card-3">
                            <div class="b-team-card-3__img">
                                <img class="b-img-height" src="../assets/img/tournament-logo-5.png" alt="">
                            </div>
                            <div class="b-team-card-3__main">
                                <div class="b-team-card-3__name"><span>БК уфимец</span></div>
                                <div class="b-team-card-3__city">уфа, россия</div>
                            </div>
                        </div>
                        <p><br></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h6>b-team-card-4</h6>
                    <div class="b-team-card-4">
                        <div class="b-team-card-4__header">
                            <div class="b-team-card-4__team">
                                <div class="b-team-card-4__team-logo">
                                    <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                                </div>
                                <div class="b-team-card-4__team-main">
                                    <div class="b-team-card-4__team-title">сшор цска</div>
                                    <div class="b-team-card-4__team-desc">москва, россия</div>
                                </div>
                            </div>
                            <div class="b-team-card-4__coach">
                                <h3 class="b-team-card-4__coach-title">тренер</h3>
                                <div class="b-team-card-4__divider"></div>
                                <div class="b-team-card-4__coach-name">константинопольский Александр</div>
                            </div>
                        </div>
                        <div class="b-team-card-4__stat">
                            <h3 class="b-team-card-4__stat-title-2">Статистика</h3>
                            <div class="b-team-card-4__stat-row">
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">22.7</div>
                                    <div class="b-team-card-4__stat-desc">очка</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">56.3%</div>
                                    <div class="b-team-card-4__stat-desc">2-х очковых</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">32.7%</div>
                                    <div class="b-team-card-4__stat-desc">3-х очковых</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">72.5%</div>
                                    <div class="b-team-card-4__stat-desc">штрафных</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">6.4</div>
                                    <div class="b-team-card-4__stat-desc">передачи</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">11.2</div>
                                    <div class="b-team-card-4__stat-desc">подбора</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">3.1</div>
                                    <div class="b-team-card-4__stat-desc">перехвата</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">1.8</div>
                                    <div class="b-team-card-4__stat-desc">блокшота</div>
                                </div>
                                <div class="b-team-card-4__stat-item">
                                    <div class="b-team-card-4__stat-title">2.3</div>
                                    <div class="b-team-card-4__stat-desc">потери</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><br></p>
                    <h6>b-team-card-5</h6>
                    <div class="b-team-card-5">
                        <div class="b-team-card-5__header">
                            <div class="b-team-card-5__team">
                                <div class="b-team-card-5__team-logo">
                                    <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                                </div>
                                <div class="b-team-card-5__team-main">
                                    <div class="b-team-card-5__team-title">сшор цска</div>
                                    <div class="b-team-card-5__team-desc">москва, россия</div>
                                </div>
                            </div>
                            <div class="b-team-card-5__coach">
                                <h3 class="b-team-card-5__coach-title">тренер</h3>
                                <div class="b-team-card-5__coach-name">гусев александр</div>
                            </div>
                        </div>
                        <div class="b-team-card-5__main">
                            <div class="b-team-card-5__btn">
                                <a class="btn b-btn-2" href="javascript:void(0)" role="button">Профайл команды</a>
                            </div>
                            <div class="b-team-card-5__stat">
                                <h3 class="b-team-card-5__stat-title-2">статистика команды</h3>
                                <div class="b-team-card-5__stat-row">
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">22.7</div>
                                        <div class="b-team-card-5__stat-desc">очка</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">56.3%</div>
                                        <div class="b-team-card-5__stat-desc">2-х очковых</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">32.7%</div>
                                        <div class="b-team-card-5__stat-desc">3-х очковых</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">72.5%</div>
                                        <div class="b-team-card-5__stat-desc">штрафных</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">6.4</div>
                                        <div class="b-team-card-5__stat-desc">передачи</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">11.2</div>
                                        <div class="b-team-card-5__stat-desc">подбора</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">3.1</div>
                                        <div class="b-team-card-5__stat-desc">перехвата</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">1.8</div>
                                        <div class="b-team-card-5__stat-desc">блокшота</div>
                                    </div>
                                    <div class="b-team-card-5__stat-item">
                                        <div class="b-team-card-5__stat-title">2.3</div>
                                        <div class="b-team-card-5__stat-desc">потери</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><br></p>
                    <h6>b-team-card-6</h6>
                    <div class="b-team-card-6">
                        <h3 class="b-title-3">Команды</h3>
                        <div class="b-team-card-6__row">
                            <div class="b-team-card-6__img">
                                <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                            </div>
                            <div class="b-team-card-6__main">
                                <div class="b-team-card-6__name">сшор цска</div>
                                <div class="b-team-card-6__city">москва, россия</div>
                            </div>
                        </div>
                        <div class="b-team-card-6__row">
                            <div class="b-team-card-6__img">
                                <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                            </div>
                            <div class="b-team-card-6__main">
                                <div class="b-team-card-6__name">сшор цска</div>
                                <div class="b-team-card-6__city">москва, россия</div>
                            </div>
                        </div>
                    </div>
                    <p><br></p>
                    <h6>b-team-card-7</h6>
                    <div class="b-team-card-7">
                        <div class="b-team-card-7__img">
                            <a class="b-team-card-7__img-link" href="javascript:void(0)">
                                <img class="b-img-cover" src="../assets/img/team-logo-420x300-1.png" alt="">
                            </a>
                        </div>
                        <div class="b-team-card-7__caption">
                            <div class="b-team-card-7__caption-info">
                                <div class="b-team-card-7__caption-info-1">сшор цска</div>
                                <div class="b-team-card-7__caption-info-2">москва, россия</div>
                                <div class="b-team-card-7__divider"></div>
                                <div class="b-team-card-7__caption-info-3">1 место</div>
                            </div>
                        </div>
                        <div class="b-team-card-7__cub">
                            <img class="b-img-height" src="../assets/img/svg/cub-1.svg" alt="">
                        </div>
                    </div>
                    <p><br></p>
                    <h6>b-team-card-8</h6>
                    <div class="b-team-card-8">
                        <div class="b-team-card-8__team">
                            <div class="b-team-card-8__team-logo">
                                <img class="b-img-cover" src="../assets/img/team-logo-201.png" alt="">
                            </div>
                            <div class="b-team-card-8__team-main">
                                <div class="b-team-card-8__team-title">сшор цска / юноши 2003</div>
                                <div class="b-team-card-8__team-desc">сшор цска</div>
                                <div class="b-team-card-8__team-desc"><span>москва / россия</span></div>
                            </div>
                        </div>
                        <div class="b-team-card-8__btn">
                            <a class="btn b-btn-outline-4" href="javascript:void(0)" role="button">Профайл команды</a>
                        </div>
                        <div class="b-team-card-8__share">
                            <a class="js-share" href="javascript:void(0)" role="button">
                                <img class="b-img-height" src="../assets/img/svg/card-share-2.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <p><br></p>

                    <h6>b-team-card-9</h6>
                    <div class="b-team-card-9">
                        <div class="b-team-card-9__top">
                            <div class="b-team-card-9__name">девушки 2006</div>
                            <div class="b-team-card-9__desc">СШОР динамо юность москвы</div>
                        </div>
                        <div class="b-team-card-9__bottom">
                            <div class="b-team-card-9__bottom-left">
                                <div class="b-team-card-9__divider"></div>
                                <div class="b-team-card-9__city">нижний новгород / РОССИЯ</div>
                            </div>
                            <div class="b-team-card-9__img">
                                <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <p><br></p>

                    <h6>b-team-card-9-2</h6>
                    <div class="b-team-card-9-2">
                        <div class="b-team-card-9-2__top">
                            <div class="b-team-card-9-2__name">юноши 2005</div>
                            <div class="b-team-card-9-2__desc">СШОР цска</div>
                        </div>
                        <div class="b-team-card-9-2__bottom">
                            <div class="b-team-card-9-2__bottom-left">
                                <div class="b-team-card-9-2__divider"></div>
                                <div class="b-team-card-9-2__city">Москва / Россия</div>
                            </div>
                            <div class="b-team-card-9-2__img">
                                <img class="b-img-height" src="../assets/img/tournament-logo-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <p><br></p>

                    <h6>b-team-card-10 b-team-card-10_color-2</h6>
                    <div class="b-team-card-10 b-team-card-10_color-2">
                        <div class="b-team-card-10__img">
                            <a class="b-team-card-10__img-link" href="javascript:void(0)">
                                <img class="b-img-height" src="../assets/img/svg/team-cub-1.svg" alt="">
                            </a>
                            <div class="b-team-card-10__caption">
                                <div class="b-team-card-10__caption-info">
                                    1 место
                                </div>
                                <div class="b-team-card-10__caption-img">
                                    <img class="b-img-height" src="../assets/img/svg/team-logo-1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="b-team-card-10__content">
                            <div class="b-team-card-10__title">
                                <a href="javascript:void(0)">сшор цска</a>
                            </div>
                            <div class="b-team-card-10__rang">первенство россии</div>
                            <div class="b-team-card-10__desc">финальный этап</div>
                            <div class="b-team-card-10__divider"></div>
                            <div class="b-team-card-10__season">сезон 2019/2020</div>
                        </div>
                        <div class="b-player-card-11__share">
                            <a class="js-share" href="javascript:void(0)" role="button">
                                <img class="b-img-height" src="../assets/img/svg/card-share-3.svg" alt="">
                            </a>
                        </div>
                        <div class="b-player-card-11__who">
                            девушки 2005
                        </div>
                    </div>
                    <p><br></p>
                    <h6>b-team-card-10</h6>
                    <div class="b-team-card-10">
                        <div class="b-team-card-10__img">
                            <a class="b-team-card-10__img-link" href="javascript:void(0)">
                                <img class="b-img-height" src="../assets/img/svg/team-cub-1.svg" alt="">
                            </a>
                            <div class="b-team-card-10__caption">
                                <div class="b-team-card-10__caption-info">
                                    1 место
                                </div>
                                <div class="b-team-card-10__caption-img">
                                    <img class="b-img-height" src="../assets/img/svg/team-logo-1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="b-team-card-10__content">
                            <div class="b-team-card-10__title">
                                <a href="javascript:void(0)">сшор цска</a>
                            </div>
                            <div class="b-team-card-10__rang">первенство россии</div>
                            <div class="b-team-card-10__desc">финальный этап</div>
                            <div class="b-team-card-10__divider"></div>
                            <div class="b-team-card-10__season">сезон 2019/2020</div>
                        </div>
                        <div class="b-player-card-11__share">
                            <a class="js-share" href="javascript:void(0)" role="button">
                                <img class="b-img-height" src="../assets/img/svg/card-share-3.svg" alt="">
                            </a>
                        </div>
                        <div class="b-player-card-11__who">
                            девушки 2005
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-test-block" id="test_b-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h6>b-team-card-11</h6>
                        <div class="b-team-card-11">
                            <div class="b-team-card-11__img">
                                <img class="b-img-height" src="../assets/img/team-logo-135x135-1.png" alt="">
                            </div>
                            <div class="b-team-card-11__main">
                                <div class="b-team-card-11__name">бк локомотив кубань</div>
                                <div class="b-team-card-11__city">краснодар, россия</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>b-team-card-11 b-team-card-11_right</h6>
                        <div class="b-team-card-11 b-team-card-11_right">
                            <div class="b-team-card-11__main">
                                <div class="b-team-card-11__name">бк руна баскет</div>
                                <div class="b-team-card-11__city">москва, россия</div>
                            </div>
                            <div class="b-team-card-11__img">
                                <img class="b-img-height" src="../assets/img/team-logo-135x135-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138502"></script>
    <script src="../assets/js/app.js?1630357138502"></script>
</body>

</html>