<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-title - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138506" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-title</h1>
        </div>
        <hr>

        <div class="b-test-block" id="test_b-title">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12 mb-3">
                        <h6>b-title-1</h6>
                        <h2 class="b-title-1">Публикации</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <h6>b-title-2</h6>
                        <h1 class="b-title-2">Публикации по теме</h1>
                    </div>
                    <div class="col-md-12 mb-3">
                        <h6>b-title-3</h6>
                        <h1 class="b-title-3">Поиск по тэгам</h1>
                    </div>
                    <div class="col-md-12 mb-3">
                        <h6>b-title-4</h6>
                        <h3 class="b-title-4">игры команды</h3>
                    </div>
                    <div class="col-md-12 mb-3">
                        <h6>b-title-5-desc + b-title-5</h6>
                        <div class="b-title-5-desc"><span class="b-title-5-desc__title">сезон 2020/2021</span></div>
                        <h1 class="b-title-5">Заголовок</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-title-6</h6>
                <h3 class="b-title-6">
                    <span class="b-title-6__decor"></span>
                    <span class="b-title-6__title">представление команд</span>
                    <span class="b-title-6__decor"></span>
                </h3>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>b-title-box-2</h6>
                <div class="b-title-box-2">
                    <h2 class="b-title-2">ближайшие игры</h2>
                    <ul class="b-nav b-nav-1">
                        <li class="b-nav-1__item"><a class="b-nav-1__link" href="javascript:void(0)">расписание тренировок</a></li>
                    </ul>
                    <button class="btn b-btn-2 js-appointment" role="button">записаться на просмотр</button>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138506"></script>
    <script src="../assets/js/app.js?1630357138506"></script>
</body>

</html>