<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>b-video-player - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138526" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page" id="topComponents">

        <div class="container">
            <h1 class="b-title-page">b-video-player</h1>
        </div>
        <hr>

        <div class="b-test-block">
            <div class="container">
                <h6>-b-video-player-1</h6>
                <div class="b-video-player">

                    <img class="b-img-cover" src="../assets/img/video-player-1.png" alt="">

                    <button class="btn btn-link b-video-player__play-btn">
                        <img class="b-img-height" src="../assets/img/svg/player-control-1-2.svg" alt="">
                    </button>

                    <div class="b-video-player-control">
                        <div class="b-video-player-control__progress">
                            <div class="b-video-player-control__progress-preload" style="width: 40%"></div>
                            <div class="b-video-player-control__progress-load" style="width: 30%"></div>
                            <div class="b-video-player-control__progress-slider" style="left: 30%"></div>
                        </div>
                        <div class="b-video-player-control__row">
                            <div class="b-video-player-control__col">
                                <button class="btn btn-link b-video-player-control__play">
                                    <img class="b-img" src="../assets/img/svg/player-control-2-2.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__volume">
                                    <img class="b-img" src="../assets/img/svg/player-control-4-2.svg" alt="">
                                </button>
                                <div class="b-video-player-control__volume-2">
                                    <div class="b-video-player-control__volume-2-load" style="width: 45%"></div>
                                    <span class="b-video-player-control__volume-2-slider" style="left: 45%"></span>
                                </div>
                            </div>
                            <div class="b-video-player-control__col">
                                <div class="b-video-player-control__time">23:35 / 1:20:17</div>
                            </div>
                            <div class="b-video-player-control__col">
                                <button class="btn btn-link b-video-player-control__settings">
                                    <img class="b-img" src="../assets/img/svg/player-control-5.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__fullscreen">
                                    <img class="b-img" src="../assets/img/svg/player-control-7-2.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <br>
                <h6>-b-video-player-4</h6>
                <div class="b-video-player-4">
                    <img class="b-img-cover" src="../assets/img/video-player-4.png" alt="">
                    <button class="btn btn-link b-video-player__play-btn">
                        <img class="b-img-height" src="../assets/img/svg/player-control-1-2.svg" alt="">
                    </button>
                    <div class="b-video-player-control-4">
                        <div class="b-video-player-control-4__progress">
                            <div class="b-video-player-control-4__progress-preload" style="width: 40%"></div>
                            <div class="b-video-player-control-4__progress-load" style="width: 30%"></div>
                            <div class="b-video-player-control-4__progress-slider" style="left: 30%"></div>
                        </div>
                        <div class="b-video-player-control-4__row">
                            <div class="b-video-player-control-4__col">
                                <button class="btn btn-link b-video-player-control-4__play">
                                    <img class="b-img" src="../assets/img/svg/player-control-2-2.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control-4__volume">
                                    <img class="b-img" src="../assets/img/svg/player-control-4-2.svg" alt="">
                                </button>
                                <div class="b-video-player-control-4__volume-2">
                                    <div class="b-video-player-control-4__volume-2-load" style="width: 45%"></div>
                                    <span class="b-video-player-control-4__volume-2-slider" style="left: 45%"></span>
                                </div>
                            </div>
                            <div class="b-video-player-control-4__col">
                                <div class="b-video-player-control-4__time">23:35 / 1:20:17</div>
                            </div>
                            <div class="b-video-player-control-4__col">
                                <button class="btn btn-link b-video-player-control-4__settings">
                                    <img class="b-img" src="../assets/img/svg/player-control-5.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control-4__fullscreen">
                                    <img class="b-img" src="../assets/img/svg/player-control-7-2.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>-b-video-player-1_2</h6>
                <div class="b-video-player">

                    <img class="b-img-cover" src="../assets/img/video-player-2.jpg" alt="">

                    <button class="btn btn-link b-video-player__play-btn">
                        <img class="b-img" src="../assets/img/svg/player-control-1-2.svg" alt="">
                    </button>

                    <div class="b-video-player-control">
                        <div class="b-video-player-control__progress">
                            <div class="b-video-player-control__progress-preload" style="width: 40%"></div>
                            <div class="b-video-player-control__progress-load" style="width: 30%"></div>
                            <div class="b-video-player-control__progress-slider" style="left: 30%"></div>
                        </div>
                        <div class="b-video-player-control__row">
                            <div class="b-video-player-control__col">
                                <button class="btn btn-link b-video-player-control__play">
                                    <img class="b-img" src="../assets/img/svg/player-control-2.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__next">
                                    <img class="b-img" src="../assets/img/svg/player-control-3.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__volume">
                                    <img class="b-img" src="../assets/img/svg/player-control-4.svg" alt="">
                                </button>
                                <div class="b-video-player-control__volume-2">
                                    <span class="b-video-player-control__volume-2-slider" style="left: 45%"></span>
                                </div>
                            </div>
                            <div class="b-video-player-control__col">
                                <div class="b-video-player-control__time">23:35 / 1:20:17</div>
                            </div>
                            <div class="b-video-player-control__col">
                                <button class="btn btn-link b-video-player-control__settings">
                                    <img class="b-img" src="../assets/img/svg/player-control-5.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__download">
                                    <img class="b-img" src="../assets/img/svg/player-control-6.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__fullscreen">
                                    <img class="b-img" src="../assets/img/svg/player-control-7.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>-b-video-player-1_3</h6>
                <div class="b-video-player">

                    <button class="btn btn-link b-video-player__play-btn">
                        <img class="b-img" src="../assets/img/svg/player-control-1.svg" alt="">
                    </button>

                    <div class="b-video-player-control">
                        <div class="b-video-player-control__progress">
                            <div class="b-video-player-control__progress-preload" style="width: 40%"></div>
                            <div class="b-video-player-control__progress-load" style="width: 30%"></div>
                            <div class="b-video-player-control__progress-slider" style="left: 30%"></div>
                        </div>
                        <div class="b-video-player-control__row">
                            <div class="b-video-player-control__col">
                                <button class="btn btn-link b-video-player-control__play">
                                    <img class="b-img" src="../assets/img/svg/player-control-2.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__next">
                                    <img class="b-img" src="../assets/img/svg/player-control-3.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__volume">
                                    <img class="b-img" src="../assets/img/svg/player-control-4.svg" alt="">
                                </button>
                                <div class="b-video-player-control__volume-2">
                                    <span class="b-video-player-control__volume-2-slider" style="left: 45%"></span>
                                </div>
                            </div>
                            <div class="b-video-player-control__col">
                                <div class="b-video-player-control__time">23:35 / 1:20:17</div>
                            </div>
                            <div class="b-video-player-control__col">
                                <button class="btn btn-link b-video-player-control__settings">
                                    <img class="b-img" src="../assets/img/svg/player-control-5.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__download">
                                    <img class="b-img" src="../assets/img/svg/player-control-6.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-control__fullscreen">
                                    <img class="b-img" src="../assets/img/svg/player-control-7.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>-b-video-player-1_4</h6>
                <div class="b-player-video-box">
                    <div class="b-video-player b-video-player_2">

                        <button class="btn btn-link b-video-player__play-btn">
                            <img class="b-img" src="../assets/img/svg/player-control-1.svg" alt="">
                        </button>

                        <div class="b-video-player-control b-video-player-control_2">
                            <div class="b-video-player-control__progress">
                                <div class="b-video-player-control__progress-preload" style="width: 40%"></div>
                                <div class="b-video-player-control__progress-load" style="width: 30%"></div>
                                <div class="b-video-player-control__progress-slider" style="left: 30%"></div>
                            </div>
                            <div class="b-video-player-control__row">
                                <div class="b-video-player-control__col">
                                    <button class="btn btn-link b-video-player-control__play">
                                        <img class="b-img" src="../assets/img/svg/player-control-2.svg" alt="">
                                    </button>
                                    <button class="btn btn-link b-video-player-control__next">
                                        <img class="b-img" src="../assets/img/svg/player-control-3.svg" alt="">
                                    </button>
                                    <button class="btn btn-link b-video-player-control__volume">
                                        <img class="b-img" src="../assets/img/svg/player-control-4.svg" alt="">
                                    </button>
                                    <div class="b-video-player-control__volume-2">
                                        <span class="b-video-player-control__volume-2-slider" style="left: 45%"></span>
                                    </div>
                                </div>
                                <div class="b-video-player-control__col">
                                    <div class="b-video-player-control__time">23:35 / 1:20:17</div>
                                </div>
                                <div class="b-video-player-control__col">
                                    <button class="btn btn-link b-video-player-control__settings">
                                        <img class="b-img" src="../assets/img/svg/player-control-5.svg" alt="">
                                    </button>
                                    <button class="btn btn-link b-video-player-control__download">
                                        <img class="b-img" src="../assets/img/svg/player-control-6.svg" alt="">
                                    </button>
                                    <button class="btn btn-link b-video-player-control__fullscreen">
                                        <img class="b-img" src="../assets/img/svg/player-control-7.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="b-video-player-thumb">
                        <div class="row">
                            <div class="col-4">
                                <a href="javascript:void(0)" class="b-video-player-thumb__link">
                                    <img class="b-img-cover" src="../assets/img/player-thumb-1.png" alt="">
                                    <span class="b-video-player-thumb__icon"><img class="b-img" src="../assets/img/svg/player-control-1.svg" alt=""></span>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:void(0)" class="b-video-player-thumb__link">
                                    <img class="b-img-cover" src="../assets/img/player-thumb-2.png" alt="">
                                    <span class="b-video-player-thumb__icon"><img class="b-img" src="../assets/img/svg/player-control-1.svg" alt=""></span>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:void(0)" class="b-video-player-thumb__link">
                                    <img class="b-img-cover" src="../assets/img/player-thumb-3.png" alt="">
                                    <span class="b-video-player-thumb__icon"><img class="b-img" src="../assets/img/svg/player-control-1.svg" alt=""></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="b-video-player-scroll">
                        <span class="b-video-player-scroll__bar" style="left: 10%"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>-b-video-player-2</h6>
                <div class="b-video-player-2">

                    <img class="b-img-cover" src="../assets/img/video-player-1.jpg" alt="">

                    <button class="btn btn-link b-video-player-2__play-btn">
                        <img class="b-img" src="../assets/img/svg/player-control-1.svg" alt="">
                    </button>

                    <div class="b-video-player-2-control">
                        <div class="b-video-player-2-control__progress">
                            <div class="b-video-player-2-control__progress-preload" style="width: 40%"></div>
                            <div class="b-video-player-2-control__progress-load" style="width: 30%"></div>
                            <div class="b-video-player-2-control__progress-slider" style="left: 30%"></div>
                        </div>
                        <div class="b-video-player-2-control__row">
                            <div class="b-video-player-2-control__col">
                                <button class="btn btn-link b-video-player-2-control__play">
                                    <img class="b-img" src="../assets/img/svg/player-control-2.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-2-control__next">
                                    <img class="b-img" src="../assets/img/svg/player-control-3.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-2-control__volume">
                                    <img class="b-img" src="../assets/img/svg/player-control-4.svg" alt="">
                                </button>
                                <div class="b-video-player-2-control__volume-2">
                                    <span class="b-video-player-2-control__volume-2-slider" style="left: 45%"></span>
                                </div>
                            </div>
                            <div class="b-video-player-2-control__col">
                                <div class="b-video-player-2-control__time">23:35 / 1:20:17</div>
                            </div>
                            <div class="b-video-player-2-control__col">
                                <button class="btn btn-link b-video-player-2-control__settings">
                                    <img class="b-img" src="../assets/img/svg/player-control-5.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-2-control__download">
                                    <img class="b-img" src="../assets/img/svg/player-control-6.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-2-control__fullscreen">
                                    <img class="b-img" src="../assets/img/svg/player-control-7.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="b-test-block">
            <div class="container">
                <h6>-b-video-player-3</h6>
                <div class="b-video-player-3">
                    <button class="btn btn-link b-video-player-3__play-btn">
                        <img class="b-img-height" src="../assets/img/svg/player-control-1-3.svg" alt="">
                    </button>
                    <div class="b-video-player-3-control">
                        <div class="b-video-player-3-control__progress">
                            <div class="b-video-player-3-control__progress-preload" style="width: 40%"></div>
                            <div class="b-video-player-3-control__progress-load" style="width: 30%"></div>
                            <div class="b-video-player-3-control__progress-slider" style="left: 30%"></div>
                        </div>
                        <div class="b-video-player-3-control__row">
                            <div class="b-video-player-3-control__col">
                                <button class="btn btn-link b-video-player-3-control__play">
                                    <img class="b-img" src="../assets/img/svg/player-control-2-2.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-3-control__volume">
                                    <img class="b-img" src="../assets/img/svg/player-control-4-2.svg" alt="">
                                </button>
                                <div class="b-video-player-3-control__volume-2">
                                    <div class="b-video-player-3-control__volume-2-load" style="width: 45%"></div>
                                    <span class="b-video-player-3-control__volume-2-slider" style="left: 45%"></span>
                                </div>
                            </div>
                            <div class="b-video-player-3-control__col">
                                <div class="b-video-player-3-control__time">23:35 / 1:20:17</div>
                            </div>
                            <div class="b-video-player-3-control__col">
                                <button class="btn btn-link b-video-player-3-control__settings">
                                    <img class="b-img" src="../assets/img/svg/player-control-5.svg" alt="">
                                </button>
                                <button class="btn btn-link b-video-player-3-control__fullscreen">
                                    <img class="b-img" src="../assets/img/svg/player-control-7-2.svg" alt="">
                                </button>
                                <button class="btn b-btn-outline-3 b-video-player-3-control__btn">
                                    скрыть видео
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="b-test-block">
            <div class="container">
                <h6></h6>

            </div>
        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138529"></script>
    <script src="../assets/js/app.js?1630357138529"></script>
</body>

</html>