<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Базовые компоненты - Jumpball.ru</title>
    <meta name="description" content="Jumpball.ru">
    <meta name="keywords" content="Jumpball.ru">
    <meta name="author" content="Jumpball.ru">
    <meta name="robots" content="noindex, nofollow">
    <link href="../assets/css/app.css?1630357138532" rel="stylesheet">
    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#ff9900">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="date=no">
    <meta name="google" content="notranslate">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
</head>

<body class="b-body" id="body">
    <!--[if IE]>
<div class="b-browser-upgrade">Вы используете устаревший браузер. Используйте <strong>современный</strong> браузер, чтобы посетить наш сайт.</div>
<![endif]-->
    <div class="b-page">

        <div class="container mb-4">
            <h1 class="b-title-page">Базовые компоненты</h1>
            <hr>

            <div class="">
                <h6><a href="./b-nav.html" target="_blank">b-nav</a></h6>
                <h6><a href="./b-btn.html" target="_blank">b-btn, b-link</a></h6>
                <h6><a href="./b-title.html" target="_blank">b-title</a></h6>
                <h6><a href="./b-tag.html" target="_blank">b-tag</a></h6>
                <h6><a href="./b-control.html" target="_blank">b-control</a></h6>
                <h6><a href="./b-publication.html" target="_blank">b-publication</a></h6>
                <h6><a href="./b-player.html" target="_blank">b-player</a></h6>
                <h6><a href="./b-team.html" target="_blank">b-team</a></h6>
                <h6><a href="./b-coach.html" target="_blank">b-coach</a></h6>
                <h6><a href="./b-tournament.html" target="_blank">b-tournament</a></h6>
                <h6><a href="./b-feature.html" target="_blank">b-feature</a></h6>
                <h6><a href="./b-success.html" target="_blank">b-success</a></h6>
                <h6><a href="./b-statistics.html" target="_blank">b-statistics</a></h6>
                <h6><a href="./b-divider.html" target="_blank">b-divider</a></h6>
                <h6><a href="./b-calendar.html" target="_blank">b-calendar</a></h6>
                <h6><a href="./b-table.html" target="_blank">b-table</a></h6>
                <h6><a href="./b-soc.html" target="_blank">b-soc</a></h6>
                <h6><a href="./b-video-player.html" target="_blank">b-video-player</a></h6>
                <h6><a href="./b-header.html" target="_blank">b-header</a></h6>
                <h6><a href="./b-decor.html" target="_blank">b-decor</a></h6>
                <h6><a href="./b-banner.html" target="_blank">b-banner</a></h6>
                <h6><a href="./images.html" target="_blank">images</a></h6>
            </div>
            <hr>

        </div>

    </div>
    <script src="../assets/js/libs.js?1630357138533"></script>
    <script src="../assets/js/app.js?1630357138533"></script>
</body>

</html>